<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a new owner</title>
</head>
<body>
  <div class="container">
    <h1>Add a new owner</h1>
    <form action="/owners/create" method="POST">
      <table>
        <tr>
          <td><label for="first_name">First Name</label></td>
          <td><input type="text" name="first_name" id=""></td>
        </tr>
        <tr>
          <td><label for="last_name">Last Name</label></td>
          <td><input type="text" name="last_name" id=""></td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input type="text" name="email" id=""></td>
        </tr>
      </table>
      <input type="submit" value="Add">
    </form>
  </div>
</body>
</html>